<script src="{{ assetsUrl('script/dist/polyfill.min.js') }}"></script>
<script src="{{ assetsUrl('script/dist/jquery-3.2.1.min.js') }}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vee-validate@2.0.1/dist/vee-validate.js"></script>
<script src="{{ assetsUrl('script/dist/vue.js') }}"></script>
<script src="{{ assetsUrl('script/dist/axios.min.js') }}"></script>
<script src="{{ assetsUrl('script/dist/nprogress.js') }}"></script>
<script src="{{ assetsUrl('script/dist/sweetalert.min.js') }}"></script>
<script src="{{ assetsUrl('script/dist/luxon.min.js') }}"></script>
