<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="{{ assetsUrl('style/dist/animate.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ assetsUrl('style/dist/tch-style.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ assetsUrl('style/dist/nprogress.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ assetsUrl('style/dist/sweetalert.min.css') }}" />

