# Node modules
node_modules

# Next
*/.next

# Adonis directory for storing tmp files
tmp

# Environment variables, never commit this file


# Lock files
package-lock.json
yarn.lock

# The development sqlite file
database/development.sqlite
sendgrid.env
