
@section('inline_style')
<style>

.report-header {
    padding: 10px 5px 10px 5px;
}

</style>


@endsection

@section('header')

<div class="container">
<div class="row">
    <div class="report-header">
        <a class="tch-link" style="font-size: 2em; color: rgba(0, 0, 0, 0.5);"><color class="tch-text-primary">Course</color> <color class="tch-text-light">Scheduling</color> <span class="text-muted">(Admin)</span></a>
    </div>
</div>
</div>

@endsection