@section('header')
<div class="container-fluid">
    <div class="row tch-header">
        <div class="col-sm-6">
                <a class="tch-link" style="font-size: 2em; color: rgba(0, 0, 0, 0.5);">Teacher Schedules</a>
        </div>
        <div class="col-sm-6">
            <p class="text-right">
                <span>สวัสดี! คุณมานพ ณ กรุงธน &nbsp;&nbsp;&nbsp;<a class="tch-link tch-link-light">Logout</a></span>
            </p>
        </div>
    </div>
</div>
@endsection