<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    @!section('style')
</head>

<body>
    <div class="container-fluid">
        @!section('header') 
        @!section('nav')
        <div class="container">
            @!section('body')
        </div>
    </div>
    @!section('script')
</body>

</html>